<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="my-alta-movimientos">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">
        <label class="label-info">Alta de Movimientos</label>
      </div>
      <div class="row">
        <label class="label-info">IDCuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="idcuenta" value="{{idcuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Cuenta:</label>
      </div>
      <div class="row">
        <input type="text" name="cuenta" value="{{cuenta::input}}">
      </div>
      <div class="row">
        <label class="label-info">Fecha:</label>
      </div>
      <div class="row">
        <input type="text" name="fecha" value="{{fecha::input}}">
      </div>
      <div class="row">
        <label class="label-info">Importe:</label>
      </div>
      <div class="row">
        <input type="text" name="importe" value="{{importe::input}}">
      </div>
      <div class="row">
        <label class="label-info">Categoria:</label>
      </div>
      <div class="row">
        <input type="text" name="categoria" value="{{categoria::input}}">
      </div>
        <button class="btn btn-danger" on-click="altaMovimientos">Alta Movimientos</button>
      </div>
         </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */

    class AltaMovimientos extends Polymer.Element {
      static get is() { return 'my-alta-movimientos'; }
      static get properties() {
        return {
          idcuenta: {
              type:Number
          }
          ,
          cuenta:{
              type: String
          }
          ,
          fecha: {
              type:Date
          }
          ,
          importe:{
              type: Number
          }
          ,
          categoria:{
              type: String
          }
        };
      }


  altaMovimientos(){
    var request = new XMLHttpRequest();
    //pos para aceptar integrar datos
    request.open("POST","http://localhost:3000/v1/Movimientos",false);

    request.setRequestHeader("Accept","application/json");
    request.setRequestHeader("Content-Type","application/json");

    var nuevoMovimientos = {"idcuenta":this.idcuenta, "cuenta": this.cuenta, "fecha":this.fecha,"importe": this.importe, "categoria":this.categoria};
    var body = JSON.stringify(nuevoMovimientos);
    request.send(body);

    this.respuesta = request.responseText;
    console.log(this.respuesta);
    alert("Alta realizada exitosamente");
  }
}
    window.customElements.define(AltaMovimientos.is, AltaMovimientos);
  </script>
</dom-module>
