<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<script src="/bower_components/crypto-js/crypto-js.js"></script>

Access-Control-Allow-Origin: *

<dom-module id="my-login">
  <template>
        <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
    <div class="row" hidden$={{logado}}>
      <label class="label-info">Ingreso a la app</label>
    </div>
    <div class="row" hidden$={{logado}}>
      <label class="label-info">Email:</label>
    </div>
    <div class="row" hidden$={{logado}}>
    <input type="email" value="{{email::input}}">
  </div>
  <div class="row" hidden$={{logado}}>
      <label>Password:</label>
    </div>
    <div class="row" hidden$={{logado}}>
    <input type="password" value="{{password::input}}">
  </div>
  <div class="row" hidden$={{logado}}>
     <button on-click="login" class="btn btn-success">Ingresar</button>
      </div>
    <div class="row" hidden$={{!logado}}>
      <span>Bienvenido a la app</span>
    </div>

<iron-ajax
  id="doLogin"
  url="http://localhost:3000/v2/Login"
  content-type="application/json"
  crossDomain: true
  dataType: 'jsonp'
  method= "POST"
  handle-as= "json"
  headers="Access-Control-Allow-Headers: *"
  on-response="manageAJAXResponse"
  on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer el nombre de la clasees como el nombre del componente
     y sin guion y mayusculas y minisculas, con el IS regresa el metodo
     del polymer
     */
    class MyLogin extends Polymer.Element {
      static get is() { return 'my-login'; }
      static get properties() {
        return {
          email: {
              type:String
          }
          ,
          password:{
              type: String
          }
          ,
          logado:{
            type: Boolean,
            value: false
        }
        };
      }
    login(){
      var loginData = {
        "email": this.email,
        "password": CryptoJS.MD5(this.password).toString()
      };
      
      this.$.doLogin.body = JSON.stringify(loginData);
      this.$.doLogin.generateRequest();
      console.log('Petición enviada por iron-ajax');
  }

   manageAJAXResponse(data){
     console.log("Respuesta recibida del servidor");
     this.logado = true;
   }

   showError(error){
     console.log('Hubo un error en la petición:'+ error);
     alert("Los datos ingresados son incorrectos/El usuario no existe, registrese");
   }
}
    window.customElements.define(MyLogin.is, MyLogin);
  </script>
</dom-module>
